<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Termos de Uso</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-icons.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Outfit' rel='stylesheet'>
    <link rel ="icon" href = "imagens/ISACA_logo.png">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Termos de Uso</h1>
        <p>Bem-vindo ao nosso site. Ao acessar e utilizar este site, você concorda em cumprir e estar vinculado aos seguintes termos e condições de uso, que, juntamente com nossa política de privacidade, regem o relacionamento deste site com você.</p>
        
        <h2>1. Aceitação dos Termos</h2>
        <p>Ao utilizar este site, você reconhece que leu, entendeu e concorda com os termos aqui estabelecidos.</p>
        
        <h2>2. Uso Permitido</h2>
        <p>O conteúdo deste site é para seu uso geral. Ele está sujeito a alterações sem aviso prévio. Você não pode reproduzir, distribuir ou explorar comercialmente qualquer conteúdo sem autorização por escrito.</p>
        
        <h2>3. Responsabilidades</h2>
        <p>Não garantimos a precisão, desempenho ou adequação das informações encontradas ou oferecidas neste site. Você reconhece que tais informações podem conter imprecisões e que não nos responsabilizamos por quaisquer erros.</p>
        
        <h2>4. Links para Terceiros</h2>
        <p>Este site pode incluir links para outros sites. Esses links são fornecidos para sua conveniência, mas não significam que endossamos o(s) site(s). Não temos responsabilidade pelo conteúdo dos sites vinculados.</p>
        
        <h2>5. Alterações nos Termos</h2>
        <p>Reservamo-nos o direito de modificar estes termos de uso a qualquer momento. É sua responsabilidade verificar esta página periodicamente.</p>
        
        <h2>6. Lei Aplicável</h2>
        <p>O uso deste site e qualquer disputa decorrente de tal uso estão sujeitos às leis de Portugal.</p>
        
        <footer class="mt-5 text-center">
            <p>&copy; 2024 Todos os direitos reservados.</p>
        </footer>
    </div>
</body>
</html>